
.mint-msgbox-btns,.mint-msgbox-title { font-size:.4rem;height:1rem;
  line-height: 1rem;}
.mint-msgbox-content {
  padding: 0rem 0.3rem 0.3rem;
  border-bottom: 0.01333rem solid #ddd;
  min-height: 0.6rem;
  position: relative;
}
.mint-cell {
font-size:30px;
  }
.mint-radio-input:checked + .mint-radio-core {
  background-color: #C9A061;
  border-color: #C9A061;
}
.mint-radio-label {font-size:30px;}
.mint-toast-text {font-size:25px;}
.mint-toast {z-index:9999999999;}
.picker-toolbar{height:1rem; }
.mint-msgbox-input {border:1px solid #DDD; overflow: hidden;     padding: 15px 5px 0px 5px;}
.mint-msgbox-content {}
.mint-msgbox-btns {height:100px;}
.mint-actionsheet-listitem,.mint-actionsheet-button { height:1rem;
  line-height: 1rem; font-size:30px;
  }

div{
  -webkit-overflow-scrolling: touch;
}
.loadMore {
  text-align: center;
  display: block;
  background:#eee;
  button{
    border:none;
    background:#eee;
    padding:15px 0;
  }
}

.star {
  height: 35px;
  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/star1.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  span.light{
    background-image: url(../img/star.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
}
.fl{
  display: inline-block;
  float:left;
}
.fr{
  display: inline-block;
  float:right;
}

.cl{
  display: block;
clear: both;}

.searchTitle b{
  color:red;
}
#zhishi {
  p,span{
    background: none;
    span{background: none}
  }
}
#audioContent2{
  display: none;
}

.fxpresent{
  background: #F10000;
  color:#FFF;
  padding:10px;
  position: fixed;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  label{
    display: inline-block;
    position: relative;
    float:left;
  }
  i{
    width:40px; height:40px;
    background: url("../img/presents.png") no-repeat center;
    background-size: 100%;
    display: inline-block;
    float:left;
    animation: dou 1s infinite linear;
    @keyframes dou {
      0%  { transform: rotate(-15deg);}
      25% { transform: rotate(-5deg);}
      50% { transform: rotate(0deg);}
      75% { transform: rotate(5deg);}
      78% { transform: rotate(15deg);}
      100% { transform: rotate(-15deg);}
    }

  }

  right:0;
  bottom:30%;
  z-index:999;
}
.fxpresent_pop{
  position: fixed;
  width:100%;
  height:100%;
  z-index:99999;
  top:0;left:0;
  background:rgba(0,0,0,.5);
  .pcontent{
    margin:0 auto;
    position: relative;
    width:70%;
    top:25%;
    border-radius: 10px;
    overflow: hidden;
    background: #F10000;
    color:#FFF;
    .pc{
      padding:30px;
      min-height: 400px;
      background:#FFF;
      color:#333;
      line-height: 200%;
      max-height: 600px;
      overflow: auto;
    }
    h3{ padding:20px 0px;
      margin:0 20px;
      font-size: 30px;
      color:#FFFFFF;
      position: relative;
      border-bottom: 1px solid #CC0000;
      span{
        position: absolute;
        right:0px;
        top:15px;
      }
    }
  }

}

.mint-indicator{
  position: relative;
  z-index: 9999;
}
.mint-swipe {

  height: 100%;
}


.newheader{
  border:2px solid #EEE;
  background: #FFF;
  li{
    width:50%;
    float:left;
    text-align: center;
    span{
      padding:15px 0;
      display: block;
      margin:0 20%;
      font-size:35px;
    }

    border:none;
  }
  .ncur{
    span{
      border-bottom: 4px solid #c69d62;
    }
  }
  background: #FFF;
}

.nopl{padding:30px; text-align: center;color:#999;}
.csqsays{
  word-wrap:break-word;
  font-size:28px;
  font-weight: 400;

}

#zhishi a{color:#08F;}
div{word-wrap: break-word}
#zhishi img{width:100%;}
.tcp-skin .vjs-big-play-button .vjs-button-icon{
  height:100px;
}

.waperBanner{
  background: #F6F6F6;
  padding:20px 0;
  margin-bottom:15px;
  padding-bottom: 5px;
  margin-top:-20px;
}
